  <div class="container-fluid dashboard_default">
  <div class="row">
    <div class="col-xl-6 col-md-6">
      <app-advertisement></app-advertisement>
    </div>
    <div class="col-xl-6 col-md-6">
      <app-weekly-revenue-growth></app-weekly-revenue-growth>
    </div>
    <div class="col-xl-7 col-md-12 box-col-6">
      <app-clear-invoicing></app-clear-invoicing>
    </div>
    <div class="col-xl-5 col-md-6 box-col-6">
      <app-event-details></app-event-details>
    </div>
    <div class="col-xl-5 col-md-6 box-col-6">
      <app-selling-connections></app-selling-connections>
    </div>
    <div class="col-xl-4 col-md-6 box-col-6">
      <app-information></app-information>
    </div>
    <div class="col-xl-3 col-md-6 box-col-6">
      <app-duties-of-today></app-duties-of-today>
    </div>
    <div class="col-xxl-4 col-lg-6 box-col-6">
      <app-fresh-upgrade></app-fresh-upgrade>
    </div>
    <div class="col-xxl-8 col-lg-6 box-col-12">
      <app-sales-trend></app-sales-trend>
    </div>
  </div>
</div>