<div class="card">
    <div class="card-header pb-0">
        <h4>Basic Area Chart </h4>
    </div>
    <div class="card-body">
        <div id="basic-apex">
            <apx-chart [chart]="basicAreaChart.chart" [series]="basicAreaChart.series" [colors]="basicAreaChart.colors"
                [dataLabels]="basicAreaChart.dataLabels" [xaxis]="basicAreaChart.xaxis" [yaxis]="basicAreaChart.yaxis"
                [stroke]="basicAreaChart.stroke" [labels]="basicAreaChart.labels" [legend]="basicAreaChart.legend">
            </apx-chart>
        </div>
    </div>
</div>