<div class="card since">
  <div class="card-body money">
    <div class="customer-card d-flex b-l-secondary border-2">
      <div class="ms-3">
        <h3 class="mt-1">Revenue</h3>
        <h5 class="mt-1">$5.873</h5>
      </div>
      <div class="dashboard-user bg-light-secondary">
        <span></span>
        <app-common-svg-icons [icon]="'money'"></app-common-svg-icons>
      </div>
    </div>
    <div class="customer"><span class="me-1">
        <app-common-svg-icons [icon]="'arrow-up'"></app-common-svg-icons>
      </span>
      <span class="font-success me-2">+ 3.10%</span>
      <span>Since last Week</span>
    </div>
  </div>
</div>