<div class="card-body">
    <div class="row g-3">
        <div class="col-xxl-3 col-sm-6">
            <app-common-border-style [data]="customBorder"></app-common-border-style>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-common-border-style [data]="borderColor"></app-common-border-style>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-common-border-style [data]="borderWidth"></app-common-border-style>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-common-border-style [data]="textColors"></app-common-border-style>
        </div>
    </div>
</div>