<ul class="layout-grid customizer-color">
    <li class="color-layout" data-attr="color-1"
        (click)="customizeLightColorScheme('#678f44','#d1823f')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-2"
        (click)="customizeLightColorScheme('#898121','#583729')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-3"
        (click)="customizeLightColorScheme('#c56435','#004591')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-4"
        (click)="customizeLightColorScheme('#7a4bc3','#acad5c')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-5"
        (click)="customizeLightColorScheme('#dd3b70','#5c3f9d')">
        <div></div>
    </li>
    <li class="color-layout" data-attr="color-6"
        (click)="customizeLightColorScheme('#973423','#a19856')">
        <div></div>
    </li>
</ul>