<div class="card">
    <div class="card-header card-no-border pb-0">
        <h4>Flush Lists</h4>
        <p class="f-m-light mt-1">
            Use <code> .list-group-flush</code> to remove some borders and rounded corners to render list group items.
        </p>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            @for(flushItem of flushListData; track flushItem){
            <li class="list-group-item">
                <i class="icofont icofont-arrow-right"></i>{{flushItem.list}}
            </li>
            }
        </ul>
    </div>
</div>