<div class="card">
    <div class="card-header pb-0">
        <h4>Turn over</h4>
    </div>
    <div class="card-body">
        <div class="chart-container">
            <div class="row">
                <div class="col-12">
                    <div id="chart-widget7">
                        <apx-chart [series]="turnoverData.series" [chart]="turnoverData.chart"
                            [dataLabels]="turnoverData.dataLabels" [grid]="turnoverData.grid"
                            [stroke]="turnoverData.stroke" [fill]="turnoverData.fill" [xaxis]="turnoverData.xaxis"
                            [yaxis]="turnoverData.yaxis" [tooltip]="turnoverData.tooltip"
                            [colors]="turnoverData.colors">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>