<div class="row">
    <div class="col-sm-12 custom-gallery-dec">
        <div class="card">
            <div class="my-gallery card-body row gallery-with-description mb-0" itemscope="" gallerize>
                <div class="row">
                    @for( img of photosData; track img){
                    <figure class="col-xl-3 col-sm-6" itemprop=" associatedMedia">
                        <a href="javascript:void(0)" itemprop="contentUrl">
                            <img [src]="img.srcUrl" class="img-fluid" />
                            <div class="caption"> 
                                <h4>{{img.name}}</h4>  
                                <p>{{img.text}}</p>
                            </div>
                        </a>
                    </figure>
                }
                </div>
            </div>
        </div>
    </div>
</div>