<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <app-link-color-dark-theme></app-link-color-dark-theme>
        </div>
        <div class="col-xl-12">
            <app-link-color-light-theme></app-link-color-light-theme>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-outline-dark-light-alerts></app-outline-dark-light-alerts>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-alerts-icons-text-actions></app-alerts-icons-text-actions>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-dark-alerts></app-dismissing-dark-alerts>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-light-alerts></app-dismissing-light-alerts>
        </div>
        <div class="col-xl-6">
            <app-live-alert></app-live-alert>
        </div>
        <div class="col-xl-6">
            <app-left-border-alert></app-left-border-alert>
        </div>
        <div class="col-sm-12">
            <app-additional-content></app-additional-content>
        </div>
    </div>
</div>