<div class="card">
    <div class="card-header card-no-border pb-0">
        <h4>Active Lists </h4>
        <p class="f-m-light mt-1">
            Use<code>.active </code>to a<code>.list-group-item</code> to indicate the current active.</p>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @for(activeItem of activeData; track activeItem){
            <li class="list-group-item {{activeItem.class}}" aria-current="true">
                <i class="icofont icofont-arrow-right"></i>
                {{activeItem.list}}
            </li>
           }
        </ul>
    </div>
</div>