 <div class="container-fluid">
     <div class="row">
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="BadgesData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="PillsData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="NumberBadgeData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="NumberPillsData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="IconBadeData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-common-badge-pills [data]="IconPillsData"></app-common-badge-pills>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-badge-heading></app-badge-heading>
         </div>
         <div class="col-sm-12 col-xl-6">
             <app-badge-part-buttons></app-badge-part-buttons>
         </div>
     </div>
 </div>