<div class="card-body">
    <div class="row g-3">
        <div class="col-xl-4 col-sm-6">
            <app-common-border-displays [data]="additiveBorder"></app-common-border-displays>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-common-border-displays [data]="subtractiveBorder"></app-common-border-displays>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-common-border-displays [data]="additiveRadiusData"></app-common-border-displays>
        </div>
    </div>
</div>