<div class="card since">
  <div class="card-body">
    <div class="customer-card d-flex b-l-primary border-2">
      <div class="ms-3">
        <h3 class="mt-1">Customers</h3>
        <h5 class="mt-1">1.485</h5>
      </div>
      <div class="dashboard-user bg-light-primary">
        <span></span>
        <app-common-svg-icons [icon]="'male'"></app-common-svg-icons>
      </div>
    </div>
    <div class="customer"><span class="me-1">
        <app-common-svg-icons [icon]="'arrow-up'"></app-common-svg-icons>
      </span>
      <span class="font-success me-2">+ 4.6%</span>
      <span>Since last Week</span>
    </div>
  </div>
</div>