<div class="header-wrapper row m-0">
  <div class="header-logo-wrapper col-auto p-0">
    <div class="logo-wrapper">
      <a [routerLink]="['/dashboard/default']">
        <img class="img-fluid for-light" src="assets/images/logo/logo-1.png" alt="">
        <img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="">
      </a>
    </div>
    <div class="toggle-sidebar" (click)="navigationService.collapseSidebar =!navigationService.collapseSidebar">
      <app-common-svg-icons [class]="'sidebar-toggle'" [icon]="'fill-animation'"></app-common-svg-icons>
    </div>
  </div>
  <div class="left-header col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-sm-8 col-12 p-0">
    <div class="left-menu-header">
      
      
      <ul class="header-left" (clickOutside)="clickOutside()">
        <li class="concessionaria-li">
          <div class="concessionaria-wrapper">
            <div class="concessionaria-display">
              <span class="concessionaria-text">
                {{ concessionariaAtual?.id ? (concessionariaAtual?.id + ' - ') : '' }}
                {{ concessionariaAtual?.nome ?? 'Concessionária XPTO' }}
              </span>
            </div>
            <button class="concessionaria-change-btn" type="button" (click)="openConcessionariaSelector()">
              <span class="btn-icon" aria-hidden="true">
                <app-common-svg-icons [icon]="'search'"></app-common-svg-icons>
              </span>
            </button>
            
          </div>
        </li>
        
        
        
        
        
        
        <!-- <li>
          <div class="concessionaria-wrapper d-flex align-items-center">
            <div class="concessionaria-display">
              <div class="concessionaria-info d-flex align-items-center">
                <span class="concessionaria-id">{{ concessionariaAtual?.id }}</span>
                <span class="concessionaria-nome">{{ concessionariaAtual?.nome }}</span>
              </div>
            </div>
            <button class="concessionaria-change-btn" (click)="openConcessionariaSelector()" type="button">
              <app-common-svg-icons [icon]="'search'" [class]="'change-icon'"></app-common-svg-icons>
            </button>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="nav-right col-xxl-7 col-xl-6 col-auto box-col-6 pull-right right-header p-0 ms-auto">
    <ul class="nav-menus">

      <li class="onhover-dropdown">
        <app-notifications></app-notifications>
      </li>
      <li class="onhover-dropdown">
        <app-bookmark></app-bookmark>
      </li>
      <li class="cart-nav onhover-dropdown">
        <app-cart></app-cart>
      </li>
      <li class="onhover-dropdown">
        <app-message></app-message>
      </li>
      <li>
        <app-mode></app-mode>
      </li>
      <li class="language-nav" (click)="navigationService.language =!navigationService.language">
        <app-language></app-language>
      </li>
      <li class="profile-nav onhover-dropdown p-0">
        <app-profile></app-profile>
      </li>
     
    </ul>
  </div>
</div>

<!-- Concessionaria Selector Popup -->
<app-concessionaria-selector 
  [isOpen]="showConcessionariaSelector"
  (close)="closeConcessionariaSelector()"
  (select)="onConcessionariaSelected($event)">
</app-concessionaria-selector>